<!DOCTYPE html>
<html
  lang="uk"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kings cafe - Головна</title>
    <link rel="stylesheet" href="../static/scss/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Marck+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../static/img/favicon.png" />
  </head>
  <body>
    <header class="second-header">
      <div class="cart-overlay">
        <div class="cart">
          <div class="cart__closeBtn">
            <i class="fas fa-window-close"></i>
          </div>
          <h2>
            <i class="fa fa-cart-arrow-down"></i>
            <span class="span-primary">Кошик</span> покупок
            <i class="fa fa-cart-arrow-down"></i>
          </h2>

          <!-- JS додасть сюди товари -->
          <div class="item1-display"></div>
          <div class="item2-display"></div>
          <div class="item3-display"></div>
          <div class="item4-display"></div>
          <div class="item5-display"></div>
          <div class="item6-display"></div>
          <div class="item7-display"></div>
          <div class="item8-display"></div>
          <div class="item9-display"></div>
          <div class="item10-display"></div>
          <div class="item11-display"></div>
          <div class="item12-display"></div>
          <div class="total"></div>
        </div>
      </div>
      <div class="menu-btn">
        <span class="menu-btn__burger"></span>
      </div>

      <nav class="nav">
        <ul class="menu-nav">
          <li class="menu-nav__item">
            <a href="index" class="logo menu-nav__link">
              <img src="../static/img/favicon.png" />
              <span class="logo-first">Kings</span>
              <span class="logo-last">Cafe</span>
            </a>
          </li>
          <div class="pages">
            <li class="menu-nav__item active">
              <a href="index" class="menu-nav__link"> Головна</a>
            </li>
            <li class="menu-nav__item">
              <a href="menu" class="menu-nav__link"> Меню </a>
            </li>
            <li class="menu-nav__item">
              <a href="services" class="menu-nav__link"> Послуги </a>
            </li>
            <li class="menu-nav__item">
              <a href="contact" class="menu-nav__link"> Контакти </a>
            </li>
            <li class="menu-nav__item">
              <a href="#!" class="menu-nav__link cart__openBtn">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
              </a>
            </li>
          </div>
          <div class="register">
            <li class="menu-nav__item">
              <a
                sec:authorize="!isAuthenticated()"
                href="sign-in"
                class="sign-in menu-nav__link"
              >
                <i class="fa fa-user" aria-hidden="true"></i>
                Увійти
              </a>
              <a
                sec:authorize="!isAuthenticated()"
                href="sign-up"
                class="sign-up v"
              >
                Зареєструватися
              </a>
              <a
                sec:authorize="isAuthenticated()"
                class="sign-in menu-nav__link"
              >
                <i class="fa fa-user" aria-hidden="true"></i>
                <span sec:authentication="principal.username"> </span>
              </a>

              <a
                sec:authorize="isAuthenticated()"
                th:href="@{/logout}"
                class="sign-up v"
                >Вихід</a
              >
            </li>
          </div>
        </ul>
      </nav>
    </header>

    <section class="home">
      <div class="pic-area">
        <div class="pic-area-text">
          <h2>Ласкаво просимо до</h2>
          <h1 class="home__name">
            <span class="logo-first">Kings</span>
            <span class="logo-last">Cafe</span>
          </h1>
          <h3>Де кава і комфорт об'єднуються</h3>
          <a href="menu">
            <button class="btn-order">Замовити зараз!</button>
          </a>
        </div>
      </div>
      <div class="main-area">
        <div class="section-area">
          <div class="section-A">
            <div class="box-text">
              <h1>Хто ми</h1>
              <p>
                Наша родина в Kings cafe надає найкращу каву в місті з часу,
                коли її заснував наш родич, Стефан Зайцев, у 1999 році. Його
                патентовані зерна кави створені так, щоб мати ідеальні
                інгредієнти, текстуру та смак.
              </p>
            </div>
            <div class="box-img">
              <img src="../static/img/who-we-are.jpg" alt="Хто ми" />
            </div>
          </div>
        </div>
        <div class="section-area">
          <div class="section-B">
            <div class="box-text">
              <h1>Наші послуги</h1>
              <p>
                Ми надаємо найвищу якість кави, комфорт та повагу до всіх
                клієнтів. Ми також маємо послуги від проведення заходів, таких
                як караоке, дні народження і ігрові вечори, а також надаємо
                безкоштовну цілодобову парковку.
              </p>
            </div>
            <div class="box-img">
              <img src="../static/img/services.jpg" alt="Послуги" />
            </div>
          </div>
        </div>
        <div class="section-area">
          <div class="section-C">
            <div class="box-text">
              <a href="menu" class="aa1">
                <h1>Меню</h1>
              </a>

              <p>
                Наше меню гарантовано містить ранкову каву, яку вам потрібно
                розпочати день. Від нашого класичного Caffè Americano до
                чотирьох видів обсмаженого кави або одного з наших еспресо, ви
                знайдете щось, щоб отримати ранкову енергію, насолоджуючись
                кожним ковзком.
              </p>
            </div>
            <div class="box-img">
              <img src="../static/img/menu.jpg" alt="Меню" />
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="copyright">&copy; Авторське право 2023</div>
      </footer>
    </section>

    <script src="../static/js/script.js"></script>
    <script
      src="https://kit.fontawesome.com/c057664144.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
